.text-container {
  background-color: white;
  text-align: center;
  height: auto;
}

.text-container > h1 {
  padding-top: 50px;
  font-size: 50px;
}

.text-container > p {
  font-size: 30px;
  padding-left: 500px;
  padding-right: 500px;
  padding-bottom: 50px;
}
